ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2,
h3 {
    font-family: "Anton", sans-serif;
}

#navbar {
    width: 100vw;    
    height: 45px;
    display: flex;
}

#navbar-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#navbar-list > li {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    line-height: 45px;
    font-weight: 450;
    font-size: 17px;
    padding-top: 7px;
}

#navbar-list > li:first-child {
    padding-left: 50px;
}

#navbar-list > li:last-child {
    padding-right: 50px;
}

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: url('/images/devzam-background.png') no-repeat;
    background-position: center;
    background-size: contain;
}

@media only screen and (max-width: 600px) {
    .background-container {
        background: url('/images/devzam-logo.png') no-repeat;
        background-position: center;
    }
}

@media only screen and (max-width: 440px) {
    .background-container {
        background: url(/images/devzam-logo-tiny.png) no-repeat;
        background-position: center;
    }
}

@media only screen and (max-width: 320px) {
    #navbar {
        flex-direction: column;
        height: auto;
    }

    #navbar-list {
        flex-direction: column;
        align-items: center;
    }
    
    #navbar-list > li {
        padding: 10px 0;
    }

    #navbar-list > li:first-child,
    #navbar-list > li:last-child {
        padding-left: 0;
        padding-right: 0;
    }

    .background-container {
        background: none;
    }
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .modals {
    display: block;
}

.modals {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-content {
    background-color: white;
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px 30px 40px;
    text-align: center;
    max-width: 80%;
    position: relative;
}

.close {
    font-size: 28px;
    font-weight: 500;
    position: absolute; 
    top: 20px;
    right: 30px;
}


#bio-container,
#devzam-bio {
    width: 300px;
    font-family: 'Hanken Grotesk', sans-serif;
}

#languages-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#languages-list > li {
    display: inline-block;
    margin: 0 20px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.modal-headers {
    padding-top: 0px;
    font-family: 'Open Sans' sans-serif;
    text-align: center;
}

#devzam-bio {
    font-style: italic;
    margin-bottom: 25px;
    font-weight: 450;
}

#name-header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#owner-title-container {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 350;
    font-size: 18px;
    margin-top: 0px;
}

#bio-container {
    font-weight: 500;
}

#vp-api-img-container > img {
    width: auto; 
    height: auto;
    margin: -5px;
}

.project-headers {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    margin: 0px auto 10px;
}

#projects-section h2 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#vp-amok-img-container > img {
    width: auto; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#projects-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(350px, 1fr));
}

.repository-links {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 20px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.skills-used-headers {
    margin-top: -5px;
    margin-bottom: -10px;
}

.capital-headers {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    margin-bottom: -20px;
    padding: 0px;
    text-align: center;
}

.skills-used-lists {
    margin-bottom: -10px;
    padding-left: 0px;
}

.skills-used-lists > li {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
}

.skills-used-lists-containers {
    margin-bottom: 10px;
}

.project-img-containers {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.modal-header-section {
    position: relative;
}

.modal-main-headers {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
}

#amok-small {
    display: none;
}

@media only screen and (max-width: 775px) {
    #amok-large {
        display: none;
    }

    #amok-small {
        display: block;
        width: auto; 
        height: auto; 
        margin: 0 auto;
    }
}

#projects-main-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Anton", sans-serif;
}

#back-to-top {
    font-family: "Bebas Neue", sans-serif;
    margin-top: 30px;
    margin-bottom: -20px;
    padding-bottom: 0px;
    font-size: 20px;
}

.header-section {
    display: flex;
}

#projects-close {
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    top: 0px;
    right: 0px;
}

#email,
#phone {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#connect-tagline {
    font-family: "Anton", sans-serif;
    margin-bottom: -10px;
}

.contact-info-header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    margin-bottom: -20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}


#signature {
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-family: "Playwrite DK Uloopet", cursive;
    margin: 0;
    padding: 0;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0;
    padding: 0;
}

.connect-links {
    font-family: "Open Sans", sans-serif;
}

#links-header {
    margin-bottom: -10px;
}